# Introducción a Atoti y MDX

En este notebook aprenderemos los conceptos básicos de Atoti y MDX utilizando un esquema de base de datos universitario.

## 1. Instalación y configuración

Primero, necesitamos importar las bibliotecas necesarias:

In [1]:
import atoti as tt
import pandas as pd
import numpy as np

Welcome to Atoti 0.9.5!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

## 2. Iniciar una sesión de atoti

Atoti funciona con sesiones. Una sesión es un entorno donde podemos crear y manipular cubos multidimensionales:

In [2]:
session = tt.Session.start()

## 3. Cargar datos de ejemplo

Para este tutorial, vamos a crear algunos datos de ejemplo basados en nuestro esquema universitario. Crearemos una tabla simple de matrículas:

In [3]:
# Crear datos de ejemplo
data = {
    'CursoAcademico': ['2023/2024', '2023/2024', '2023/2024', '2022/2023', '2022/2023'],
    'Centro': ['Facultad de Ciencias', 'Facultad de Letras', 'Facultad de Ciencias', 'Facultad de Letras', 'Facultad de Ciencias'],
    'PlanEstudio': ['Grado en Informática', 'Grado en Historia', 'Grado en Matemáticas', 'Grado en Historia', 'Grado en Informática'],
    'NumeroMatriculados': [120, 85, 95, 80, 110]
}

df = pd.DataFrame(data)
df

,CursoAcademico,Centro,PlanEstudio,NumeroMatriculados
0,2023/2024,Facultad de Ciencias,Grado en Informática,120
1,2023/2024,Facultad de Letras,Grado en Historia,85
2,2023/2024,Facultad de Ciencias,Grado en Matemáticas,95
3,2022/2023,Facultad de Letras,Grado en Historia,80
4,2022/2023,Facultad de Ciencias,Grado en Informática,110

## 4. Crear una tabla en Atoti

Ahora vamos a cargar estos datos en una tabla de Atoti:

In [4]:
matriculas_table = session.read_pandas(
    df,
    table_name="Matriculas",
    keys=["CursoAcademico", "Centro", "PlanEstudio"]
)

## 5. Crear un cubo

Un cubo es una estructura multidimensional que nos permite analizar los datos desde diferentes perspectivas:

In [5]:
cube = session.create_cube(matriculas_table)
cube

## 6. Explorar el cubo

Podemos ver las jerarquías y medidas disponibles en nuestro cubo:

In [6]:
print("Jerarquías:")
print(cube.hierarchies)
print("\nMedidas:")
print(cube.measures)

Jerarquías:
{('Matriculas', 'Centro'): <atoti.hierarchy.Hierarchy object at 0x0000018342A714F0>, ('Matriculas', 'PlanEstudio'): <atoti.hierarchy.Hierarchy object at 0x0000018342A73A70>, ('Matriculas', 'CursoAcademico'): <atoti.hierarchy.Hierarchy object at 0x0000018342A72A80>}

Medidas:
{'NumeroMatriculados.SUM': <atoti.measure.Measure object at 0x0000018342A72D50>, 'contributors.COUNT': <atoti.measure.Measure object at 0x0000018342A72C30>, 'NumeroMatriculados.MEAN': <atoti.measure.Measure object at 0x0000018342A72F00>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x0000018342A72E70>}

## 7. Realizar una consulta simple

Vamos a hacer una consulta simple para ver el número total de matriculados por centro:

In [7]:

cube.query(
    cube.measures["NumeroMatriculados.SUM"],
    levels=[cube.hierarchies["Centro"]["Centro"]]  # Especificamos el nivel dentro de la jerarquía
)

                     NumeroMatriculados.SUM
Centro
Facultad de Ciencias                    325
Facultad de Letras                      165

## 8. Crear un widget interactivo

Atoti nos permite crear widgets interactivos para explorar los datos:

In [ ]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

## Ejercicios prácticos

1. Modifica la consulta anterior para ver el número de matriculados por plan de estudios
2. Crea una consulta que muestre el número de matriculados por curso académico y centro
3. Experimenta con el widget interactivo para crear diferentes visualizaciones