# üìä Consultas MDX B√°sicas

**Objetivo**: Dominar la sintaxis fundamental de consultas MDX en Atoti

## üéØ Lo que aprender√°s
- üî∞ Sintaxis b√°sica de consultas MDX
- üî∞ Filtros y agrupaciones simples
- üöÄ Consultas bi-dimensionales
- üöÄ Ordenamiento y limitaci√≥n de resultados

## üìã Prerrequisitos
- ‚úÖ Conceptos b√°sicos de dimensiones y medidas
- ‚úÖ Conexi√≥n a Oracle disponible

---

**üí° NOTA**: Este notebook recrea el cubo desde cero para garantizar compatibilidad entre sesiones.

## üîß Configuraci√≥n y Recreaci√≥n del Cubo

In [10]:
# Importar librer√≠as necesarias
import atoti as tt
from atoti_jdbc import JdbcLoad
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

# Configuraci√≥n de conexi√≥n a Oracle
ORACLE_USER = os.getenv('ORACLE_USER', 'C##DM_ACADEMICO')
ORACLE_PASSWORD = os.getenv('ORACLE_PASSWORD', 'YourPassword123')
ORACLE_HOST = os.getenv('ORACLE_HOST', 'localhost')
ORACLE_PORT = os.getenv('ORACLE_PORT', '1521')
ORACLE_SERVICE = os.getenv('ORACLE_SERVICE', 'XEPDB1')

jdbc_url = f"jdbc:oracle:thin:{ORACLE_USER}/{ORACLE_PASSWORD}@//{ORACLE_HOST}:{ORACLE_PORT}/{ORACLE_SERVICE}"

print("‚úÖ Configuraci√≥n completada")
print(f"üîó Conectando a: {ORACLE_HOST}:{ORACLE_PORT}/{ORACLE_SERVICE}")

‚úÖ Configuraci√≥n completada
üîó Conectando a: localhost:1521/XEPDB1

In [11]:
# Cerrar sesiones previas e iniciar nueva sesi√≥n
try:
    if 'session' in globals():
        session.close()
        print("‚úÖ Sesi√≥n anterior cerrada")
except:
    pass

# Iniciar nueva sesi√≥n
session = tt.Session.start()
print("üöÄ Sesi√≥n de Atoti iniciada")
print(f"üìç URL del servidor: {session.url}")

‚úÖ Sesi√≥n anterior cerrada
üöÄ Sesi√≥n de Atoti iniciada
üìç URL del servidor: http://localhost:52614

In [12]:
# üî∞ FUNCI√ìN AUXILIAR: Cargar tablas de forma segura
def cargar_tabla_academica(nombre_tabla, query_sql, claves_primarias):
    """
    Carga una tabla desde Oracle con validaciones.
    """
    try:
        jdbc_load = JdbcLoad(query_sql, url=jdbc_url)
        data_types = session.tables.infer_data_types(jdbc_load)
        
        tabla = session.create_table(
            nombre_tabla, 
            data_types=data_types, 
            keys=claves_primarias
        )
        
        tabla.load(jdbc_load)
        print(f"‚úÖ Tabla {nombre_tabla} cargada exitosamente")
        return tabla
        
    except Exception as e:
        print(f"‚ùå Error cargando {nombre_tabla}: {str(e)}")
        return None

print("üõ†Ô∏è Funci√≥n auxiliar configurada")

üõ†Ô∏è Funci√≥n auxiliar configurada

In [13]:
# üî∞ RECREAR CUBO ACAD√âMICO B√ÅSICO
print("üìö Recreando cubo acad√©mico para consultas MDX...")

# Cargar tabla de hechos principal
tabla_matriculas = cargar_tabla_academica(
    "Matriculas",
    "SELECT * FROM F_MATRICULA WHERE ROWNUM <= 500",  # Dataset manejable
    {"ID_ALUMNO", "ID_CURSO_ACADEMICO", "ID_ASIGNATURA"}
)

# Cargar dimensiones esenciales
tabla_cursos = cargar_tabla_academica(
    "CursosAcademicos",
    "SELECT * FROM D_CURSO_ACADEMICO",
    {"ID_CURSO_ACADEMICO"}
)

tabla_sexo = cargar_tabla_academica(
    "Sexo", 
    "SELECT * FROM D_SEXO",
    {"ID_SEXO"}
)

if tabla_matriculas and tabla_cursos and tabla_sexo:
    print("\nüéâ Tablas b√°sicas cargadas correctamente")
else:
    print("\n‚ö†Ô∏è Error en carga de tablas - verificar conexi√≥n")

üìö Recreando cubo acad√©mico para consultas MDX...
‚úÖ Tabla Matriculas cargada exitosamente
‚úÖ Tabla CursosAcademicos cargada exitosamente
‚úÖ Tabla Sexo cargada exitosamente

üéâ Tablas b√°sicas cargadas correctamente

In [14]:
# üî∞ CREAR CUBO Y CONFIGURAR UNIONES
if tabla_matriculas:
    # Establecer uniones
    if tabla_cursos:
        tabla_matriculas.join(
            tabla_cursos,
            tabla_matriculas["ID_CURSO_ACADEMICO"] == tabla_cursos["ID_CURSO_ACADEMICO"]
        )
        print("üîó Uni√≥n con cursos acad√©micos establecida")
    
    if tabla_sexo:
        tabla_matriculas.join(
            tabla_sexo,
            tabla_matriculas["ID_SEXO"] == tabla_sexo["ID_SEXO"]
        )
        print("üîó Uni√≥n con dimensi√≥n sexo establecida")
    
    # Crear el cubo
    cubo = session.create_cube(tabla_matriculas, "CuboMDX")
    
    # Referencias de acceso r√°pido
    h = cubo.hierarchies  # Jerarqu√≠as
    l = cubo.levels      # Niveles
    m = cubo.measures    # Medidas
    
    print("\nüßä Cubo MDX creado exitosamente")
    print(f"üìä Jerarqu√≠as disponibles: {len(h)}")
    print(f"üìà Medidas autom√°ticas: {len(m)}")
    print(f"üéØ Niveles para agrupar: {len(l)}")

üîó Uni√≥n con cursos acad√©micos establecida
üîó Uni√≥n con dimensi√≥n sexo establecida

üßä Cubo MDX creado exitosamente
üìä Jerarqu√≠as disponibles: 37
üìà Medidas autom√°ticas: 134
üéØ Niveles para agrupar: 37

## üî∞ FUNDAMENTOS: Anatom√≠a de una Consulta MDX

### La Estructura B√°sica
```python
resultado = cubo.query(
    medidas,        # ¬øQu√© queremos medir?
    levels=niveles, # ¬øC√≥mo queremos agrupar?
    filter=filtro   # ¬øQu√© datos incluir? (opcional)
)
```

### üß≠ Conceptos Clave
- **Medidas**: Valores num√©ricos a calcular (ej: conteos, promedios)
- **Niveles**: Dimensiones para agrupar datos (ej: por semestre, carrera)
- **Filtros**: Condiciones para limitar los datos analizados

In [15]:
# üî∞ EXPLORAR ESTRUCTURA DEL CUBO
print("üîç EXPLORANDO NUESTRO CUBO PARA CONSULTAS MDX:")

# Funci√≥n auxiliar para explicar consultas
def explicar_consulta(descripcion, concepto, resultado):
    """Patr√≥n est√°ndar para explicar cada consulta MDX"""
    print(f"\nüîç {descripcion}")
    print(f"üí° Concepto: {concepto}")
    print("‚úÖ Resultado:")
    display(resultado)
    print(f"üìä Filas obtenidas: {len(resultado)}")
    print("-" * 50)

# Mostrar medidas principales
print("\nüìà MEDIDAS PRINCIPALES:")
medidas_principales = [k for k in m.keys() if 'COUNT' in k.upper()][:3]
for medida in medidas_principales:
    print(f"  üìä {medida}")

# Mostrar niveles principales  
print("\nüìê NIVELES PRINCIPALES:")
niveles_principales = [k for k in l.keys()][:5]
for nivel in niveles_principales:
    print(f"  üéØ {nivel}")

print("\nüéâ Cubo listo para consultas MDX b√°sicas")

üîç EXPLORANDO NUESTRO CUBO PARA CONSULTAS MDX:

üìà MEDIDAS PRINCIPALES:
  üìä contributors.COUNT

üìê NIVELES PRINCIPALES:
  üéØ ('CursosAcademicos', 'NOMBRE_CURSO_ACADEMICO', 'NOMBRE_CURSO_ACADEMICO')
  üéØ ('Sexo', 'FECHA_CARGA', 'FECHA_CARGA')
  üéØ ('Sexo', 'NOMBRE_SEXO', 'NOMBRE_SEXO')
  üéØ ('Sexo', 'ID_SEXO_NK', 'ID_SEXO_NK')
  üéØ ('Matriculas', 'SN_DISCAPACIDAD', 'SN_DISCAPACIDAD')

üéâ Cubo listo para consultas MDX b√°sicas

## üî∞ SECCI√ìN 1: Consultas con Una Dimensi√≥n

In [16]:
# üî∞ CONSULTA B√ÅSICA 1: Total general (sin agrupaci√≥n)
print("üîç CONSULTA 1: ¬øCu√°ntos registros tenemos en total?")
print("üí° Concepto: Consulta MDX m√°s simple - solo medida, sin agrupaci√≥n")

# Seleccionar primera medida de conteo disponible
medida_count = next(iter([k for k in m.keys() if 'COUNT' in k.upper()]), 'contributors.COUNT')

resultado_total = cubo.query(m[medida_count])

explicar_consulta(
    "CONSULTA 1: Total general de registros",
    "Consulta base: una medida sin dimensiones = resultado global",
    resultado_total
)

üîç CONSULTA 1: ¬øCu√°ntos registros tenemos en total?
üí° Concepto: Consulta MDX m√°s simple - solo medida, sin agrupaci√≥n

üîç CONSULTA 1: Total general de registros
üí° Concepto: Consulta base: una medida sin dimensiones = resultado global
‚úÖ Resultado:

  contributors.COUNT
0                500

üìä Filas obtenidas: 1
--------------------------------------------------

In [17]:
# üî∞ CONSULTA B√ÅSICA 2: Agrupaci√≥n por una dimensi√≥n
print("üîç CONSULTA 2: Distribuci√≥n por semestre")
print("üí° Concepto: Agrupaci√≥n simple - medida + una dimensi√≥n")

# Buscar nivel de semestre disponible
nivel_semestre = None
for nivel_key in l.keys():
    if 'SEMESTRE' in str(nivel_key).upper():
        nivel_semestre = l[nivel_key]
        print(f"üéØ Usando nivel: {nivel_key}")
        break

if nivel_semestre:
    resultado_semestre = cubo.query(
        m[medida_count],
        levels=[nivel_semestre]
    )
    
    explicar_consulta(
        "CONSULTA 2: Registros por semestre",
        "Agrupaci√≥n b√°sica: cada fila = un semestre, valor = conteo",
        resultado_semestre
    )
    
    # An√°lisis r√°pido
    print(f"üìä Semestres encontrados: {len(resultado_semestre)}")
    if len(resultado_semestre) > 0:
        print(f"üìà Total registros: {resultado_semestre.sum().iloc[0]:,.0f}")
else:
    print("‚ö†Ô∏è No se encontr√≥ nivel SEMESTRE, usando primer nivel disponible")
    primer_nivel = l[list(l.keys())[0]]
    
    resultado_alternativo = cubo.query(
        m[medida_count],
        levels=[primer_nivel]
    )
    
    explicar_consulta(
        f"CONSULTA 2 (alternativa): Agrupaci√≥n por {list(l.keys())[0]}",
        "Adaptaci√≥n: usando primer nivel disponible cuando el ideal no existe",
        resultado_alternativo.head()
    )

üîç CONSULTA 2: Distribuci√≥n por semestre
üí° Concepto: Agrupaci√≥n simple - medida + una dimensi√≥n
‚ö†Ô∏è No se encontr√≥ nivel SEMESTRE, usando primer nivel disponible

üîç CONSULTA 2 (alternativa): Agrupaci√≥n por ('CursosAcademicos', 'NOMBRE_CURSO_ACADEMICO', 'NOMBRE_CURSO_ACADEMICO')
üí° Concepto: Adaptaci√≥n: usando primer nivel disponible cuando el ideal no existe
‚úÖ Resultado:

                        contributors.COUNT
NOMBRE_CURSO_ACADEMICO
2010/2011                               28
2011/2012                               31
2012/2013                               38
2013/2014                               50
2014/2015                               27

üìä Filas obtenidas: 5
--------------------------------------------------

## üî∞‚ÜíüöÄ SECCI√ìN 2: M√∫ltiples Medidas

In [18]:
# üöÄ M√öLTIPLES MEDIDAS: An√°lisis completo
print("üîç CONSULTA 3: An√°lisis con m√∫ltiples medidas")
print("üí° Concepto: Combinar varias m√©tricas en una sola consulta")

# Seleccionar m√∫ltiples medidas disponibles
medidas_disponibles = list(m.keys())
medidas_seleccionadas = medidas_disponibles[:3]  # Primeras 3 medidas

print(f"üìä Medidas seleccionadas: {medidas_seleccionadas}")

# Usar nivel que ya sabemos que funciona
nivel_para_agrupar = nivel_semestre if nivel_semestre else l[list(l.keys())[0]]

resultado_multiple = cubo.query(
    *[m[medida] for medida in medidas_seleccionadas],
    levels=[nivel_para_agrupar]
)

explicar_consulta(
    "CONSULTA 3: An√°lisis multi-medida",
    "Vista panor√°mica: m√∫ltiples m√©tricas por grupo",
    resultado_multiple
)

print("üöÄ AN√ÅLISIS AVANZADO:")
print("  - Cada fila representa un grupo de la dimensi√≥n")
print("  - Cada columna representa una medida diferente")
print("  - Permite comparaciones multivariadas")

üîç CONSULTA 3: An√°lisis con m√∫ltiples medidas
üí° Concepto: Combinar varias m√©tricas en una sola consulta
üìä Medidas seleccionadas: ['NUM_REGS_GRANO_MOV.MEAN', 'ID_CAMPUS_CENTRO.SUM', 'FLG_TRASLADO_MISMO_ESTUDIO.MEAN']

üîç CONSULTA 3: An√°lisis multi-medida
üí° Concepto: Vista panor√°mica: m√∫ltiples m√©tricas por grupo
‚úÖ Resultado:

,NUM_REGS_GRANO_MOV.MEAN,ID_CAMPUS_CENTRO.SUM,FLG_TRASLADO_MISMO_ESTUDIO.MEAN
NOMBRE_CURSO_ACADEMICO,,,
2010/2011,,,.43
2011/2012,,,.55
2012/2013,,,.47
2013/2014,,,.40
2014/2015,,,.44
2015/2016,,,.39
2016/2017,,,.50
2017/2018,,,.59
2018/2019,,,.43
2019/2020,,,.70
2020/2021,,,.45
2021/2022,,,.49
2022/2023,,,.47
2023/2024,,,.39
2024/2025,,,.42

üìä Filas obtenidas: 15
--------------------------------------------------
üöÄ AN√ÅLISIS AVANZADO:
  - Cada fila representa un grupo de la dimensi√≥n
  - Cada columna representa una medida diferente
  - Permite comparaciones multivariadas

## üî∞‚ÜíüöÄ SECCI√ìN 3: Filtros B√°sicos

In [19]:
# üî∞ FILTROS SIMPLES
print("üîç CONSULTA 4: Aplicando filtros b√°sicos")
print("üí° Concepto: Incluir solo datos que cumplan condiciones espec√≠ficas")

# Primero, explorar valores disponibles para filtrar
if nivel_semestre:
    # Obtener muestra de datos para ver valores disponibles
    muestra_datos = cubo.query(
        m[medida_count],
        levels=[nivel_semestre]
    )
    
    print("üìã Valores disponibles para filtrar:")
    valores_disponibles = muestra_datos.index.tolist()[:3]
    for valor in valores_disponibles:
        print(f"  üìå {valor}")
    
    # Aplicar filtro con primer valor disponible
    if valores_disponibles:
        valor_filtro = valores_disponibles[0]
        
        resultado_filtrado = cubo.query(
            m[medida_count],
            levels=[nivel_semestre],
            filter=nivel_semestre == valor_filtro
        )
        
        explicar_consulta(
            f"CONSULTA 4: Solo datos de '{valor_filtro}'",
            "Filtro de igualdad: condici√≥n simple sobre dimensi√≥n",
            resultado_filtrado
        )
    else:
        print("‚ö†Ô∏è No se encontraron valores para filtrar")
else:
    print("‚ö†Ô∏è Usando filtro alternativo con medidas num√©ricas")
    
    # Filtro num√©rico sobre medidas
    resultado_filtrado_num = cubo.query(
        m[medida_count],
        levels=[nivel_para_agrupar],
        filter=m[medida_count] > 1  # Solo grupos con m√°s de 1 registro
    )
    
    explicar_consulta(
        "CONSULTA 4: Filtro num√©rico (conteo > 1)",
        "Filtro sobre medida: excluir grupos peque√±os",
        resultado_filtrado_num
    )

üîç CONSULTA 4: Aplicando filtros b√°sicos
üí° Concepto: Incluir solo datos que cumplan condiciones espec√≠ficas
‚ö†Ô∏è Usando filtro alternativo con medidas num√©ricas

üîç CONSULTA 4: Filtro num√©rico (conteo > 1)
üí° Concepto: Filtro sobre medida: excluir grupos peque√±os
‚úÖ Resultado:

                       contributors.COUNT
NOMBRE_CURSO_ACADEMICO
2010/2011                              28
2011/2012                              31
2012/2013                              38
2013/2014                              50
2014/2015                              27
2015/2016                              36
2016/2017                              28
2017/2018                              29
2018/2019                              30
2019/2020                              30
2020/2021                              29
2021/2022                              35
2022/2023                              38
2023/2024                              33
2024/2025                              38

üìä Filas obtenidas: 15
--------------------------------------------------

In [20]:
# üöÄ FILTROS COMPLEJOS
print("üöÄ FILTROS AVANZADOS: Condiciones m√∫ltiples")
print("üí° Concepto: Combinar m√∫ltiples condiciones con operadores l√≥gicos")

try:
    # Filtro compuesto: combinar condiciones con &
    resultado_complejo = cubo.query(
        m[medida_count],
        *[m[medida] for medida in medidas_seleccionadas[:2]],
        levels=[nivel_para_agrupar],
        filter=(
            (m[medida_count] >= 1) &  # Condici√≥n num√©rica
            (m[medidas_seleccionadas[0]] >= 0)  # Segunda condici√≥n
        )
    )
    
    explicar_consulta(
        "CONSULTA 5: Filtro compuesto (m√∫ltiples condiciones)",
        "L√≥gica compleja: condici√≥n1 AND condici√≥n2",
        resultado_complejo
    )
    
    print("üí° Operadores de filtro disponibles:")
    print("  - Igualdad: ==  ‚îÇ  Desigualdad: !=  ‚îÇ  Mayor: >  ‚îÇ  Menor: <")
    print("  - Y l√≥gico: &   ‚îÇ  O l√≥gico: |      ‚îÇ  Negaci√≥n: ~")
    
except Exception as e:
    print(f"‚ö†Ô∏è Error en filtro complejo: {e}")
    print("üí° Los filtros complejos requieren compatibilidad de tipos")

üöÄ FILTROS AVANZADOS: Condiciones m√∫ltiples
üí° Concepto: Combinar m√∫ltiples condiciones con operadores l√≥gicos

üîç CONSULTA 5: Filtro compuesto (m√∫ltiples condiciones)
üí° Concepto: L√≥gica compleja: condici√≥n1 AND condici√≥n2
‚úÖ Resultado:

,contributors.COUNT,NUM_REGS_GRANO_MOV.MEAN,ID_CAMPUS_CENTRO.SUM
NOMBRE_CURSO_ACADEMICO,,,
2010/2011,28,,
2011/2012,31,,
2012/2013,38,,
2013/2014,50,,
2014/2015,27,,
2015/2016,36,,
2016/2017,28,,
2017/2018,29,,
2018/2019,30,,
2019/2020,30,,
2020/2021,29,,
2021/2022,35,,
2022/2023,38,,
2023/2024,33,,
2024/2025,38,,

üìä Filas obtenidas: 15
--------------------------------------------------
üí° Operadores de filtro disponibles:
  - Igualdad: ==  ‚îÇ  Desigualdad: !=  ‚îÇ  Mayor: >  ‚îÇ  Menor: <
  - Y l√≥gico: &   ‚îÇ  O l√≥gico: |      ‚îÇ  Negaci√≥n: ~

## üöÄ SECCI√ìN 4: Consultas Bi-dimensionales

In [23]:
# üöÄ DOS DIMENSIONES: An√°lisis cruzado
print("üîç CONSULTA 6: An√°lisis con dos dimensiones")
print("üí° Concepto: Tabla din√°mica - cruce de dos variables categ√≥ricas")

# Buscar dimensiones acad√©micas relevantes - CORRECCI√ìN ESPEC√çFICA
primer_nivel = None
segundo_nivel = None

# Buscar NOMBRE_SEXO espec√≠ficamente
for nivel_key in l.keys():
    if 'NOMBRE_SEXO' in str(nivel_key).upper():
        primer_nivel = l[nivel_key]
        primer_nivel_key = nivel_key
        print(f"üéØ Primera dimensi√≥n encontrada: {nivel_key}")
        break

# Buscar segunda dimensi√≥n relevante (no FECHA_CARGA)
for nivel_key in l.keys():
    if ('CURSO' in str(nivel_key).upper() or 
        'SEMESTRE' in str(nivel_key).upper() or
        'ASIGNATURA' in str(nivel_key).upper()) and nivel_key != primer_nivel_key:
        segundo_nivel = l[nivel_key]
        segundo_nivel_key = nivel_key
        print(f"üéØ Segunda dimensi√≥n encontrada: {nivel_key}")
        break

# Validar que encontramos ambas dimensiones
if primer_nivel is not None and segundo_nivel is not None:
    try:
        resultado_bidimensional = cubo.query(
            m[medida_count],
            levels=[primer_nivel, segundo_nivel],
            include_totals=True
        )
        
        explicar_consulta(
            f"CONSULTA 6: An√°lisis {primer_nivel_key} √ó {segundo_nivel_key}",
            "An√°lisis cruzado: intersecci√≥n de dimensiones acad√©micas relevantes",
            resultado_bidimensional.head(10)
        )
        
        print("üîç Interpretaci√≥n acad√©mica espec√≠fica:")
        print(f"  - Filas: Diferentes valores de {primer_nivel_key}")
        print(f"  - Columnas: Diferentes valores de {segundo_nivel_key}")
        print("  - Celdas: N√∫mero de registros en esa combinaci√≥n")
        print("  - An√°lisis √∫til para detectar distribuciones acad√©micas")
        
    except Exception as e:
        print(f"‚ö†Ô∏è Error en consulta bidimensional: {e}")
        print("üîÑ Usando an√°lisis alternativo...")
        
        # Alternativa: solo NOMBRE_SEXO si est√° disponible
        if primer_nivel is not None:
            resultado_sexo = cubo.query(
                m[medida_count],
                levels=[primer_nivel]
            )
            
            explicar_consulta(
                "CONSULTA 6: Distribuci√≥n por sexo (alternativa)",
                "An√°lisis unidimensional: estudiantes por g√©nero",
                resultado_sexo
            )

elif primer_nivel is not None:
    # Solo tenemos NOMBRE_SEXO
    resultado_sexo = cubo.query(
        m[medida_count],
        levels=[primer_nivel]
    )
    
    explicar_consulta(
        "CONSULTA 6: Distribuci√≥n por sexo",
        "An√°lisis por g√©nero: base para an√°lisis demogr√°fico",
        resultado_sexo
    )
    
    print("üí° AN√ÅLISIS DEMOGR√ÅFICO:")
    print("  - Distribuci√≥n de g√©nero en la instituci√≥n")
    print("  - Base para pol√≠ticas de equidad")
    print("  - √ötil para planificaci√≥n de recursos")

else:
    print("‚ö†Ô∏è No se encontr√≥ NOMBRE_SEXO - usando niveles disponibles")
    
    # Fallback a an√°lisis con m√∫ltiples medidas
    resultado_multi_medida = cubo.query(
        *[m[medida] for medida in medidas_seleccionadas[:2]],
        levels=[nivel_para_agrupar]
    )
    
    explicar_consulta(
        "CONSULTA 6: M√∫ltiples medidas por dimensi√≥n",
        "An√°lisis multivariado como alternativa",
        resultado_multi_medida
    )

# üí° EXPLICACI√ìN CONTEXTUAL 
print("\nüí° CONTEXTO ACAD√âMICO RELEVANTE:")
print("  - NOMBRE_SEXO: An√°lisis demogr√°fico (Masculino/Femenino)")
print("  - CURSO_ACADEMICO: Dimensi√≥n temporal para tendencias")
print("  - SEMESTRE: An√°lisis por per√≠odos acad√©micos")
print("  - ASIGNATURA: Distribuci√≥n por materias")
print("  - ‚ùå FECHA_CARGA: No relevante para an√°lisis acad√©mico")

üîç CONSULTA 6: An√°lisis con dos dimensiones
üí° Concepto: Tabla din√°mica - cruce de dos variables categ√≥ricas
üéØ Primera dimensi√≥n encontrada: ('Sexo', 'NOMBRE_SEXO', 'NOMBRE_SEXO')
üéØ Segunda dimensi√≥n encontrada: ('CursosAcademicos', 'NOMBRE_CURSO_ACADEMICO', 'NOMBRE_CURSO_ACADEMICO')

üîç CONSULTA 6: An√°lisis ('Sexo', 'NOMBRE_SEXO', 'NOMBRE_SEXO') √ó ('CursosAcademicos', 'NOMBRE_CURSO_ACADEMICO', 'NOMBRE_CURSO_ACADEMICO')
üí° Concepto: An√°lisis cruzado: intersecci√≥n de dimensiones acad√©micas relevantes
‚úÖ Resultado:

                                    contributors.COUNT
NOMBRE_SEXO NOMBRE_CURSO_ACADEMICO
<NA>        <NA>                                   500
Hombre      <NA>                                   232
            2010/2011                               11
            2011/2012                               12
            2012/2013                               18
            2013/2014                               25
            2014/2015                               11
            2015/2016                               17
            2016/2017                               14
            2017/2018                               10

üìä Filas obtenidas: 10
--------------------------------------------------
üîç Interpretaci√≥n acad√©mica espec√≠fica:
  - Filas: Diferentes valores de ('Sexo', 'NOMBRE_SEXO', 'NOMBRE_SEXO')
  - Columnas: Diferentes valores de ('CursosAcademicos', 'NOMBRE_CURSO_ACADEMICO', 'NOMBRE_CURSO_ACADEMICO')
  - Celdas: N√∫mero de registros en esa combinaci√≥n
  - An√°lisis √∫til para detectar distribuciones acad√©micas

üí° CONTEXTO ACAD√âMICO RELEVANTE:
  - NOMBRE_SEXO: An√°lisis demogr√°fico (Masculino/Femenino)
  - CURSO_ACADEMICO: Dimensi√≥n temporal para tendencias
  - SEMESTRE: An√°lisis por per√≠odos acad√©micos
  - ASIGNATURA: Distribuci√≥n por materias
  - ‚ùå FECHA_CARGA: No relevante para an√°lisis acad√©mico

## üöÄ SECCI√ìN 5: Ordenamiento y Limitaci√≥n

In [24]:
# üöÄ ORDENAMIENTO Y TOP N
print("üîç CONSULTA 7: Top N y ordenamiento de resultados")
print("üí° Concepto: Combinar consulta MDX + manipulaci√≥n pandas")

# Obtener datos para ordenar
datos_para_ordenar = cubo.query(
    m[medida_count],
    levels=[nivel_para_agrupar]
)

# Aplicar ordenamiento descendente
top_5 = datos_para_ordenar.sort_values(
    by=datos_para_ordenar.columns[0],  # Ordenar por primera columna
    ascending=False
).head(5)

explicar_consulta(
    "CONSULTA 7: Top 5 por conteo (descendente)",
    "Pipeline: Consulta MDX ‚Üí Ordenamiento pandas ‚Üí Limitaci√≥n",
    top_5
)

print("üí° Patr√≥n de ordenamiento en MDX:")
print("  1. üîç Ejecutar consulta MDX completa")
print("  2. üìä Aplicar .sort_values() con pandas")
print("  3. üéØ Usar .head(n) o .tail(n) para limitar")
print("  4. üìà Analizar patrones en los extremos")

üîç CONSULTA 7: Top N y ordenamiento de resultados
üí° Concepto: Combinar consulta MDX + manipulaci√≥n pandas

üîç CONSULTA 7: Top 5 por conteo (descendente)
üí° Concepto: Pipeline: Consulta MDX ‚Üí Ordenamiento pandas ‚Üí Limitaci√≥n
‚úÖ Resultado:

                        contributors.COUNT
NOMBRE_CURSO_ACADEMICO
2013/2014                               50
2012/2013                               38
2024/2025                               38
2022/2023                               38
2015/2016                               36

üìä Filas obtenidas: 5
--------------------------------------------------
üí° Patr√≥n de ordenamiento en MDX:
  1. üîç Ejecutar consulta MDX completa
  2. üìä Aplicar .sort_values() con pandas
  3. üéØ Usar .head(n) o .tail(n) para limitar
  4. üìà Analizar patrones en los extremos

In [25]:
# üöÄ AN√ÅLISIS COMPARATIVO: Top vs Bottom
print("üîç CONSULTA 8: An√°lisis comparativo de extremos")

# Top 3 y Bottom 3
top_3 = datos_para_ordenar.sort_values(
    by=datos_para_ordenar.columns[0], 
    ascending=False
).head(3)

bottom_3 = datos_para_ordenar.sort_values(
    by=datos_para_ordenar.columns[0], 
    ascending=True
).head(3)

print("üèÜ TOP 3 (valores m√°s altos):")
display(top_3)

print("\nüìâ BOTTOM 3 (valores m√°s bajos):")
display(bottom_3)

# Estad√≠sticas descriptivas
if len(datos_para_ordenar) > 0:
    columna = datos_para_ordenar.columns[0]
    promedio = datos_para_ordenar[columna].mean()
    maximo = datos_para_ordenar[columna].max()
    minimo = datos_para_ordenar[columna].min()
    
    print(f"\nüìä ESTAD√çSTICAS DESCRIPTIVAS:")
    print(f"  - üìà Promedio: {promedio:.1f}")
    print(f"  - üîù M√°ximo: {maximo:,.0f} ({top_3.index[0]})")
    print(f"  - üîª M√≠nimo: {minimo:,.0f} ({bottom_3.index[0]})")
    print(f"  - üìä Total registros analizados: {len(datos_para_ordenar)}")

üîç CONSULTA 8: An√°lisis comparativo de extremos
üèÜ TOP 3 (valores m√°s altos):

                        contributors.COUNT
NOMBRE_CURSO_ACADEMICO
2013/2014                               50
2012/2013                               38
2024/2025                               38

üìâ BOTTOM 3 (valores m√°s bajos):

                        contributors.COUNT
NOMBRE_CURSO_ACADEMICO
2014/2015                               27
2010/2011                               28
2016/2017                               28

üìä ESTAD√çSTICAS DESCRIPTIVAS:
  - üìà Promedio: 33.3
  - üîù M√°ximo: 50 (2013/2014)
  - üîª M√≠nimo: 27 (2014/2015)
  - üìä Total registros analizados: 15

## üéØ EJERCICIOS PR√ÅCTICOS

### üî∞ Ejercicios B√°sicos

In [39]:
# üî∞ EJERCICIO 1: Tu primera consulta personalizada
print("üéØ EJERCICIO 1: Crea una consulta que agrupe por una dimensi√≥n diferente")
print("üí™ Objetivo: Practicar la sintaxis b√°sica de consulta MDX")
print("üìù Instrucciones:")
print("   1. Selecciona una medida disponible")
print("   2. Selecciona un nivel para agrupar (diferente a los ejemplos)")
print("   3. Ejecuta la consulta")
print("   4. Interpreta los resultados")

print("\nüìã Recursos disponibles:")
print(f"  Medidas: {list(m.keys())[:3]}...")
print(f"  Niveles: {list(l.keys())[:3]}...")

print("\nüí° Pista: ejercicio_1 = cubo.query(m['tu_medida'], levels=[l['tu_nivel']])")
print("üìù Escribe tu c√≥digo aqu√≠:\n")

# TU C√ìDIGO AQU√ç:
# ejercicio_1 = cubo.query(...)
# display(ejercicio_1)

# L√çNEA DIVISORIA - SOLUCI√ìN ABAJO
print("\n" + "="*50)
print("‚úÖ EJEMPLO DE SOLUCI√ìN:")

if len(list(m.keys())) > 1 and len(list(l.keys())) > 1:
    ejercicio_1_solucion = cubo.query(
        m[list(m.keys())[5]],  
        levels=[l[list(l.keys())[2]]]  
    )
    
    print(f"üìä Medida usada: {list(m.keys())[5]}")
    print(f"üéØ Nivel usado: {list(l.keys())[2]}")
    display(ejercicio_1_solucion)
else:
    print("‚ö†Ô∏è Recursos limitados para este ejercicio")

üéØ EJERCICIO 1: Crea una consulta que agrupe por una dimensi√≥n diferente
üí™ Objetivo: Practicar la sintaxis b√°sica de consulta MDX
üìù Instrucciones:
   1. Selecciona una medida disponible
   2. Selecciona un nivel para agrupar (diferente a los ejemplos)
   3. Ejecuta la consulta
   4. Interpreta los resultados

üìã Recursos disponibles:
  Medidas: ['NUM_REGS_GRANO_MOV.MEAN', 'ID_CAMPUS_CENTRO.SUM', 'FLG_TRASLADO_MISMO_ESTUDIO.MEAN']...
  Niveles: [('CursosAcademicos', 'NOMBRE_CURSO_ACADEMICO', 'NOMBRE_CURSO_ACADEMICO'), ('Sexo', 'FECHA_CARGA', 'FECHA_CARGA'), ('Sexo', 'NOMBRE_SEXO', 'NOMBRE_SEXO')]...

üí° Pista: ejercicio_1 = cubo.query(m['tu_medida'], levels=[l['tu_nivel']])
üìù Escribe tu c√≥digo aqu√≠:


==================================================
‚úÖ EJEMPLO DE SOLUCI√ìN:
üìä Medida usada: CREDITOS.MEAN
üéØ Nivel usado: ('Sexo', 'NOMBRE_SEXO', 'NOMBRE_SEXO')

            CREDITOS.MEAN
NOMBRE_SEXO
Hombre               7.33
Mujer                7.49

In [38]:
# üî∞ EJERCICIO 2: Aplicar un filtro b√°sico
print("üéØ EJERCICIO 2: Crea una consulta con filtro")
print("üí™ Objetivo: Practicar filtros en consultas MDX")
print("üìù Desaf√≠o: Filtra los datos para mostrar solo un subconjunto")

print("\nüí° Pistas:")
print("   - Usa filter=nivel == 'valor' para igualdad")
print("   - Usa filter=medida > numero para condiciones num√©ricas")
print("   - Combina con & para m√∫ltiples condiciones")

print("\nüìù Tu turno: Escribe una consulta con filtro\n")

# TU C√ìDIGO AQU√ç:
# ejercicio_2 = cubo.query(..., filter=...)

print("\n" + "="*50)
print("‚úÖ EJEMPLO DE SOLUCI√ìN:")

# Filtro num√©rico simple
ejercicio_2_solucion = cubo.query(
    m[medida_count],
    levels=[nivel_para_agrupar],
    filter=m[medida_count] >= 1  # Solo grupos con al menos 1 registro
)

print("üéØ Filtro aplicado: Conteo >= 1")
display(ejercicio_2_solucion)
print(f"üìä Grupos que cumplen el filtro: {len(ejercicio_2_solucion)}")

üéØ EJERCICIO 2: Crea una consulta con filtro
üí™ Objetivo: Practicar filtros en consultas MDX
üìù Desaf√≠o: Filtra los datos para mostrar solo un subconjunto

üí° Pistas:
   - Usa filter=nivel == 'valor' para igualdad
   - Usa filter=medida > numero para condiciones num√©ricas
   - Combina con & para m√∫ltiples condiciones

üìù Tu turno: Escribe una consulta con filtro


==================================================
‚úÖ EJEMPLO DE SOLUCI√ìN:
üéØ Filtro aplicado: Conteo >= 1

                       contributors.COUNT
NOMBRE_CURSO_ACADEMICO
2010/2011                              28
2011/2012                              31
2012/2013                              38
2013/2014                              50
2014/2015                              27
2015/2016                              36
2016/2017                              28
2017/2018                              29
2018/2019                              30
2019/2020                              30
2020/2021                              29
2021/2022                              35
2022/2023                              38
2023/2024                              33
2024/2025                              38

üìä Grupos que cumplen el filtro: 15

### üöÄ Ejercicios Avanzados

In [40]:
# üöÄ EJERCICIO 3: Consulta multidimensional compleja
print("üéØ EJERCICIO 3: An√°lisis multidimensional completo")
print("üí™ Desaf√≠o: Combina m√∫ltiples medidas, niveles y filtros")
print("üìù Requisitos:")
print("   1. Al menos 2 medidas diferentes")
print("   2. Al menos 1 nivel de agrupaci√≥n")
print("   3. Un filtro para limitar los datos")
print("   4. Ordenamiento de resultados")

print("\nüéØ Meta: Crear un an√°lisis √∫til para toma de decisiones")
print("üìù Tu c√≥digo aqu√≠:\n")

# TU C√ìDIGO AQU√ç:
# ejercicio_3 = cubo.query(...)
# ejercicio_3_ordenado = ejercicio_3.sort_values(...)

print("\n" + "="*50)
print("‚úÖ SOLUCI√ìN GUIADA:")

print("üìù Paso 1: Consulta multidimensional")
ejercicio_3_base = cubo.query(
    m[medida_count],
    *[m[medida] for medida in medidas_seleccionadas[:2]],
    levels=[nivel_para_agrupar],
    filter=m[medida_count] > 0
)

print("üìù Paso 2: Ordenamiento por importancia")
ejercicio_3_final = ejercicio_3_base.sort_values(
    by=ejercicio_3_base.columns[0],
    ascending=False
).head(5)

print("üìù Paso 3: An√°lisis de resultados")
display(ejercicio_3_final)

print("\nüéØ Interpretaci√≥n del an√°lisis:")
print("  - ‚úÖ Medidas m√∫ltiples: Vista panor√°mica")
print("  - ‚úÖ Filtro aplicado: Solo datos relevantes")
print("  - ‚úÖ Ordenamiento: Priorizaci√≥n por importancia")
print("  - ‚úÖ Limitaci√≥n: Focus en Top 5")

üéØ EJERCICIO 3: An√°lisis multidimensional completo
üí™ Desaf√≠o: Combina m√∫ltiples medidas, niveles y filtros
üìù Requisitos:
   1. Al menos 2 medidas diferentes
   2. Al menos 1 nivel de agrupaci√≥n
   3. Un filtro para limitar los datos
   4. Ordenamiento de resultados

üéØ Meta: Crear un an√°lisis √∫til para toma de decisiones
üìù Tu c√≥digo aqu√≠:


==================================================
‚úÖ SOLUCI√ìN GUIADA:
üìù Paso 1: Consulta multidimensional
üìù Paso 2: Ordenamiento por importancia
üìù Paso 3: An√°lisis de resultados

,contributors.COUNT,NUM_REGS_GRANO_MOV.MEAN,ID_CAMPUS_CENTRO.SUM
NOMBRE_CURSO_ACADEMICO,,,
2013/2014,50,<NA>,<NA>
2012/2013,38,<NA>,<NA>
2024/2025,38,<NA>,<NA>
2022/2023,38,<NA>,<NA>
2015/2016,36,<NA>,<NA>

üéØ Interpretaci√≥n del an√°lisis:
  - ‚úÖ Medidas m√∫ltiples: Vista panor√°mica
  - ‚úÖ Filtro aplicado: Solo datos relevantes
  - ‚úÖ Ordenamiento: Priorizaci√≥n por importancia
  - ‚úÖ Limitaci√≥n: Focus en Top 5

## üõ†Ô∏è TROUBLESHOOTING: Errores Comunes y Soluciones

In [ ]:
# üîß FUNCI√ìN DE DIAGN√ìSTICO AVANZADA
def diagnosticar_consulta_mdx(cubo, medidas_test=None, niveles_test=None):
    """
    Funci√≥n completa de diagn√≥stico para consultas MDX
    """
    print("üîç DIAGN√ìSTICO COMPLETO DE CONSULTA MDX\n")
    
    # Estado del cubo
    print("üßä ESTADO DEL CUBO:")
    print(f"  ‚úÖ Nombre: {cubo.name}")
    print(f"  üìä Medidas disponibles: {len(cubo.measures)}")
    print(f"  üìê Niveles disponibles: {len(cubo.levels)}")
    print(f"  üèóÔ∏è Jerarqu√≠as: {len(cubo.hierarchies)}")
    
    # Verificar conectividad b√°sica
    try:
        test_query = cubo.query(list(cubo.measures.values())[0])
        print(f"  ‚úÖ Conectividad: OK (registros: {test_query.iloc[0,0]})")
    except Exception as e:
        print(f"  ‚ùå Error de conectividad: {e}")
    
    # Validar medidas espec√≠ficas
    if medidas_test:
        print("\nüìä VALIDACI√ìN DE MEDIDAS:")
        for medida in medidas_test:
            if medida in cubo.measures:
                print(f"  ‚úÖ {medida} - V√ÅLIDA")
            else:
                print(f"  ‚ùå {medida} - NO ENCONTRADA")
                similares = [m for m in cubo.measures.keys() if medida.upper() in m.upper()]
                if similares:
                    print(f"      üí° Similares: {similares[:3]}")
    
    # Validar niveles espec√≠ficos
    if niveles_test:
        print("\nüìê VALIDACI√ìN DE NIVELES:")
        for nivel in niveles_test:
            if nivel in cubo.levels:
                print(f"  ‚úÖ {nivel} - V√ÅLIDO")
            else:
                print(f"  ‚ùå {nivel} - NO ENCONTRADO")
                similares = [l for l in cubo.levels.keys() if nivel.upper() in str(l).upper()]
                if similares:
                    print(f"      üí° Similares: {similares[:3]}")
    
    # Recursos recomendados
    print("\nüéØ RECURSOS RECOMENDADOS:")
    print("üìä Mejores medidas para empezar:")
    medidas_count = [m for m in cubo.measures.keys() if 'COUNT' in m.upper()][:3]
    for medida in medidas_count:
        print(f"  üî¢ {medida}")
    
    print("\nüìê Mejores niveles para agrupar:")
    primeros_niveles = list(cubo.levels.keys())[:3]
    for nivel in primeros_niveles:
        print(f"  üéØ {nivel}")
    
    print("\nüí° CONSEJOS DE TROUBLESHOOTING:")
    print("  1. Siempre valida nombres exactos antes de consultar")
    print("  2. Usa medidas COUNT para consultas b√°sicas")
    print("  3. Verifica tipos de datos al aplicar filtros")
    print("  4. Maneja resultados vac√≠os con try/except")

# Ejecutar diagn√≥stico del cubo actual
diagnosticar_consulta_mdx(cubo, ["COUNT", "MEAN"], ["SEMESTRE", "CARRERA"])

In [ ]:
# üö® PATRONES DE ERRORES COMUNES Y SOLUCIONES
print("üö® ERRORES COMUNES EN CONSULTAS MDX Y SUS SOLUCIONES\n")

print("‚ùå ERROR 1: 'Medida no encontrada'")
print("üí° SOLUCI√ìN: Verificar nombres exactos")
print("   ‚úÖ Correcto: m['contributors.COUNT']")
print("   ‚ùå Incorrecto: m['count'] o m['COUNT']")

print("\n‚ùå ERROR 2: 'Nivel no v√°lido'")
print("üí° SOLUCI√ìN: Explorar structure del cubo")
print("   ‚úÖ Usar: list(cubo.levels.keys()) para ver opciones")
print("   ‚úÖ Formato: ('tabla', 'columna', 'columna')")

print("\n‚ùå ERROR 3: 'Filtro incompatible'")
print("üí° SOLUCI√ìN: Verificar tipos de datos")
print("   ‚úÖ Texto: nivel == 'string'")
print("   ‚úÖ N√∫mero: medida > numero")
print("   ‚úÖ Combinado: (condicion1) & (condicion2)")

print("\n‚ùå ERROR 4: 'Resultado vac√≠o'")
print("üí° SOLUCI√ìN: Validar datos y condiciones")
print("   ‚úÖ Verificar que existen datos en las tablas")
print("   ‚úÖ Relajar filtros demasiado restrictivos")
print("   ‚úÖ Usar try/except para manejo elegante")

print("\n‚úÖ MEJORES PR√ÅCTICAS:")
print("  1. üîç Siempre explorar estructura antes de consultar")
print("  2. üß™ Probar consultas simples antes de complejas")
print("  3. üìä Validar resultados con consultas conocidas")
print("  4. üõ°Ô∏è Implementar manejo de errores robusto")
print("  5. üìù Documentar consultas complejas para reuso")

## üìö RESUMEN Y PR√ìXIMOS PASOS

### ‚úÖ Lo que has dominado

**üî∞ Fundamentos MDX:**
- ‚úÖ Estructura b√°sica: `cubo.query(medidas, levels=niveles, filter=filtro)`
- ‚úÖ Consultas simples con una dimensi√≥n
- ‚úÖ Consultas con m√∫ltiples medidas
- ‚úÖ Aplicaci√≥n de filtros b√°sicos y complejos

**üöÄ T√©cnicas avanzadas:**
- ‚úÖ An√°lisis bidimensional (cruce de variables)
- ‚úÖ Ordenamiento y Top N con pandas
- ‚úÖ Interpretaci√≥n de resultados multivariados
- ‚úÖ Troubleshooting y validaci√≥n de consultas

### üéØ Conceptos clave consolidados

1. **Sintaxis MDX** - Estructura est√°ndar para todas las consultas
2. **Medidas vs Niveles** - Diferencia entre "qu√© medir" y "c√≥mo agrupar"
3. **Filtros estrat√©gicos** - Cuando y c√≥mo limitar datos
4. **Pipeline MDX+Pandas** - Combinar consulta + manipulaci√≥n
5. **Interpretaci√≥n de resultados** - Leer y analizar matrices multidimensionales

### üöÄ Preparaci√≥n para Notebook 03: Cubos Multidimensionales

Con las bases s√≥lidas de consultas MDX, estar√°s listo para:
- üßä **Dise√±o de cubos complejos** - M√∫ltiples tablas de hechos
- üèóÔ∏è **Jerarqu√≠as anidadas** - Dimensiones con m√∫ltiples niveles
- üîÑ **Drill-down y Roll-up** - Navegaci√≥n entre niveles
- üìä **Medidas calculadas avanzadas** - F√≥rmulas personalizadas
- üé® **Visualizaciones sofisticadas** - Dashboards interactivos

### üí™ Ejercicios para consolidar

**Antes del siguiente notebook, practica:**
1. Crear 5 consultas MDX diferentes con tus propios datos
2. Combinar filtros complejos con m√∫ltiples condiciones
3. Analizar resultados bidimensionales e interpretar patrones
4. Usar la funci√≥n de diagn√≥stico para resolver errores

### üéâ ¬°Felicitaciones!

Has completado exitosamente los **fundamentos de consultas MDX**. Ahora tienes las herramientas esenciales para realizar an√°lisis multidimensional b√°sico. En el pr√≥ximo notebook, aplicaremos estos conocimientos para crear cubos OLAP sofisticados que resuelvan problemas de negocio reales.

---

**üîó Continuaci√≥n**: `03_cubos_multidimensionales.ipynb` - Donde llevar√°s tus habilidades MDX al siguiente nivel.