# Cubos Multidimensionales en Atoti

En este notebook profundizaremos en el concepto de cubos multidimensionales y cómo crearlos y manipularlos en Atoti.

## 1. Configuración Inicial

Importamos las bibliotecas necesarias e iniciamos una sesión:

In [ ]:
import atoti as tt
import pandas as pd
import numpy as np

session = tt.Session.start()

## 2. Crear Datos de Ejemplo más Complejos

Vamos a crear un conjunto de datos más complejo que incluya información sobre matrículas, rendimiento y docencia:

In [6]:
# Datos de matrículas
matriculas_data = {
    'CursoAcademico': ['2023/2024'] * 6 + ['2022/2023'] * 6,
    'Centro': ['Facultad de Ciencias'] * 3 + ['Facultad de Letras'] * 3 + ['Facultad de Ciencias'] * 3 + ['Facultad de Letras'] * 3,
    'PlanEstudio': ['Grado en Informática', 'Grado en Matemáticas', 'Grado en Física'] * 2 + ['Grado en Historia', 'Grado en Filología', 'Grado en Filosofía'] * 2,
    'NumeroMatriculados': [120, 95, 85, 80, 75, 70, 110, 90, 80, 75, 70, 65],
    'CreditosMatriculados': [7200, 5700, 5100, 4800, 4500, 4200, 6600, 5400, 4800, 4500, 4200, 3900]
}

# Datos de rendimiento
rendimiento_data = {
    'CursoAcademico': ['2023/2024'] * 6 + ['2022/2023'] * 6,
    'Centro': ['Facultad de Ciencias'] * 3 + ['Facultad de Letras'] * 3 + ['Facultad de Ciencias'] * 3 + ['Facultad de Letras'] * 3,
    'PlanEstudio': ['Grado en Informática', 'Grado en Matemáticas', 'Grado en Física'] * 2 + ['Grado en Historia', 'Grado en Filología', 'Grado en Filosofía'] * 2,
    'TasaAprobados': [0.85, 0.82, 0.80, 0.88, 0.85, 0.83, 0.83, 0.80, 0.78, 0.86, 0.84, 0.82],
    'NotaMedia': [7.2, 7.0, 6.8, 7.5, 7.3, 7.1, 7.0, 6.8, 6.6, 7.4, 7.2, 7.0]
}

# Crear DataFrames
df_matriculas = pd.DataFrame(matriculas_data)
df_rendimiento = pd.DataFrame(rendimiento_data)

print("Datos de Matrículas:")
display(df_matriculas)
print("\nDatos de Rendimiento:")
display(df_rendimiento)

Datos de Matrículas:

,CursoAcademico,Centro,PlanEstudio,NumeroMatriculados,CreditosMatriculados
0,2023/2024,Facultad de Ciencias,Grado en Informática,120,7200
1,2023/2024,Facultad de Ciencias,Grado en Matemáticas,95,5700
2,2023/2024,Facultad de Ciencias,Grado en Física,85,5100
3,2023/2024,Facultad de Letras,Grado en Informática,80,4800
4,2023/2024,Facultad de Letras,Grado en Matemáticas,75,4500
5,2023/2024,Facultad de Letras,Grado en Física,70,4200
6,2022/2023,Facultad de Ciencias,Grado en Historia,110,6600
7,2022/2023,Facultad de Ciencias,Grado en Filología,90,5400
8,2022/2023,Facultad de Ciencias,Grado en Filosofía,80,4800
9,2022/2023,Facultad de Letras,Grado en Historia,75,4500
10,2022/2023,Facultad de Letras,Grado en Filología,70,4200
11,2022/2023,Facultad de Letras,Grado en Filosofía,65,3900

Datos de Rendimiento:

,CursoAcademico,Centro,PlanEstudio,TasaAprobados,NotaMedia
0,2023/2024,Facultad de Ciencias,Grado en Informática,0.85,7.2
1,2023/2024,Facultad de Ciencias,Grado en Matemáticas,0.82,7.0
2,2023/2024,Facultad de Ciencias,Grado en Física,0.80,6.8
3,2023/2024,Facultad de Letras,Grado en Informática,0.88,7.5
4,2023/2024,Facultad de Letras,Grado en Matemáticas,0.85,7.3
5,2023/2024,Facultad de Letras,Grado en Física,0.83,7.1
6,2022/2023,Facultad de Ciencias,Grado en Historia,0.83,7.0
7,2022/2023,Facultad de Ciencias,Grado en Filología,0.80,6.8
8,2022/2023,Facultad de Ciencias,Grado en Filosofía,0.78,6.6
9,2022/2023,Facultad de Letras,Grado en Historia,0.86,7.4
10,2022/2023,Facultad de Letras,Grado en Filología,0.84,7.2
11,2022/2023,Facultad de Letras,Grado en Filosofía,0.82,7.0

## 3. Crear Tablas en Atoti

Cargamos los datos en tablas de Atoti:

In [7]:
# Crear tabla de matrículas
matriculas_table = session.read_pandas(
    df_matriculas,
    table_name="Matriculas",
    keys=["CursoAcademico", "Centro", "PlanEstudio"]
)

# Crear tabla de rendimiento
rendimiento_table = session.read_pandas(
    df_rendimiento,
    table_name="Rendimiento",
    keys=["CursoAcademico", "Centro", "PlanEstudio"]
)

## 4. Crear un Cubo Multidimensional

Vamos a crear un cubo que combine información de ambas tablas:

In [18]:
# Unir las tablas usando una sola condición de igualdad combinada
matriculas_table.join(
    rendimiento_table,
    (matriculas_table["CursoAcademico"] == rendimiento_table["CursoAcademico"]) &
    (matriculas_table["Centro"] == rendimiento_table["Centro"]) &
    (matriculas_table["PlanEstudio"] == rendimiento_table["PlanEstudio"])
)

# Crear el cubo con las tablas unidas
cube = session.create_cube(matriculas_table)

## 5. Explorar la Estructura del Cubo

Veamos las jerarquías y medidas disponibles:

In [19]:
print("Jerarquías:")
print(cube.hierarchies)
print("\nMedidas:")
print(cube.measures)

Jerarquías:
{('Matriculas', 'Centro'): <atoti.hierarchy.Hierarchy object at 0x0000015FAD1EF710>, ('Matriculas', 'PlanEstudio'): <atoti.hierarchy.Hierarchy object at 0x0000015FAD15AB70>, ('Matriculas', 'CursoAcademico'): <atoti.hierarchy.Hierarchy object at 0x0000015FAD15B9E0>}

Medidas:
{'NumeroMatriculados.SUM': <atoti.measure.Measure object at 0x0000015FAD1EF590>, 'CreditosMatriculados.SUM': <atoti.measure.Measure object at 0x0000015FAD15BC50>, 'contributors.COUNT': <atoti.measure.Measure object at 0x0000015FAD15B6E0>, 'NumeroMatriculados.MEAN': <atoti.measure.Measure object at 0x0000015FAD159250>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x0000015FAD15A240>, 'CreditosMatriculados.MEAN': <atoti.measure.Measure object at 0x0000015FAD15BE30>}

## 6. Crear Medidas Calculadas

Vamos a crear algunas medidas calculadas interesantes:

In [29]:
# Primero veamos las medidas disponibles
print("Medidas disponibles:")
print(cube.measures)

Medidas disponibles:
{'NumeroMatriculados.SUM': <atoti.measure.Measure object at 0x0000015FAD1F1160>, 'CreditosMatriculados.SUM': <atoti.measure.Measure object at 0x0000015FAD1F0EC0>, 'contributors.COUNT': <atoti.measure.Measure object at 0x0000015FAD1F29C0>, 'NumeroMatriculados.MEAN': <atoti.measure.Measure object at 0x0000015FAD1F3AA0>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x0000015FAD1F39B0>, 'CreditosMatriculados.MEAN': <atoti.measure.Measure object at 0x0000015FAD1F1D60>, 'Total Estudiantes': <atoti.measure.Measure object at 0x0000015FAD1F3230>}

In [30]:
# Crear medida para el número total de estudiantes
cube.measures["Total Estudiantes"] = tt.agg.sum(
    cube.measures["NumeroMatriculados.SUM"],
    scope=tt.OriginScope(levels=[cube.levels[("Matriculas", "CursoAcademico", "CursoAcademico")]])
)

# Crear medida para la media de créditos matriculados
cube.measures["Media Creditos Matriculados"] = tt.agg.mean(
    cube.measures["CreditosMatriculados.SUM"],
    scope=tt.OriginScope(levels=[cube.levels[("Matriculas", "CursoAcademico", "CursoAcademico")]])
)

# Crear medida para el total de créditos
cube.measures["Total Creditos"] = tt.agg.sum(
    cube.measures["CreditosMatriculados.SUM"],
    scope=tt.OriginScope(levels=[cube.levels[("Matriculas", "CursoAcademico", "CursoAcademico")]])
)

## 7. Realizar Consultas Multidimensionales

Vamos a realizar algunas consultas que muestren el poder del análisis multidimensional:

In [31]:
# Realizar consultas multidimensionales
print("\n7. Realizar consultas multidimensionales")
print("\nNúmero de estudiantes matriculados por centro:")
print(
    cube.query(
        cube.measures["Total Estudiantes"],
        levels=[cube.levels[("Matriculas", "Centro", "Centro")]]
    )
)

print("\nNúmero de estudiantes y créditos por centro y plan de estudios:")
print(
    cube.query(
        cube.measures["Total Estudiantes"],
        cube.measures["Total Creditos"],
        levels=[
            cube.levels[("Matriculas", "Centro", "Centro")],
            cube.levels[("Matriculas", "PlanEstudio", "PlanEstudio")]
        ]
    )
)

print("\nMedia de créditos matriculados por centro:")
print(
    cube.query(
        cube.measures["Media Creditos Matriculados"],
        levels=[cube.levels[("Matriculas", "Centro", "Centro")]]
    )
)

7. Realizar consultas multidimensionales

Número de estudiantes matriculados por centro:
                     Total Estudiantes
Centro
Facultad de Ciencias               580
Facultad de Letras                 435

Número de estudiantes y créditos por centro y plan de estudios:
                                          Total Estudiantes Total Creditos
Centro               PlanEstudio
Facultad de Ciencias Grado en Filología                  90          5,400
                     Grado en Filosofía                  80          4,800
                     Grado en Física                     85          5,100
                     Grado en Historia                  110          6,600
                     Grado en Informática               120          7,200
                     Grado en Matemáticas                95          5,700
Facultad de Letras   Grado en Filología                  70          4,200
                     Grado en Filosofía                  65          3,900
                     Grado en Física                     70          4,200
                     Grado en Historia                   75          4,500
                     Grado en Informática                80          4,800
                     Grado en Matemáticas                75          4,500

Media de créditos matriculados por centro:
                     Media Creditos Matriculados
Centro
Facultad de Ciencias                   17,400.00
Facultad de Letras                     13,050.00

## 8. Crear un Dashboard Interactivo

Vamos a crear un dashboard interactivo para explorar los datos:

In [ ]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

## Ejercicios Prácticos

1. Crea una nueva medida calculada que muestre la relación entre créditos matriculados y número de estudiantes
2. Realiza una consulta que compare el rendimiento entre diferentes planes de estudio
3. Crea un dashboard que muestre la evolución temporal de las tasas de aprobados
4. Experimenta con diferentes combinaciones de jerarquías y medidas en el widget interactivo